

/* ================== МЕНЮ */

.menu {
    background: linear-gradient(to bottom, #000000 0%, #696960 100%);
    height: 50px
}

.menu ul {
    padding: 0;
}

.menu ul:after {
    clear: both;
    display: table;
    width: 100%;
    height: 0;
    content: ' ';
}

.menu li {
    float: left;
  
    font-family: Arial, sans-serif;
    font-size: 20px;
    list-style: none;
   
}

.menu a {
    display: block;
    padding: 0 30px;
    line-height: 50px;
}


/* ================== ЗАГОЛОВОК СТРАНИЦЫ */


.header {
  height: 6em;
  background-color: #49423d;
}

.head_img {
  background: url(https://sopov-danil.github.io/images/header.jpg) no-repeat;
  background-size: cover;
  width: 66.67%;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  height: 135px;
  border-radius: 10px
}

.footer {
  background-color: Gold;
  height: 50px;
}

.aside {
    
background: url(https://sopov-danil.github.io/images/aside.png) no-repeat;
background-size: cover;
}

.main {
  background-color: DimGrey;
}

.m {
  background-color: Gray;
}

.header,
.main,
.aside,
.m,
.footer {
  border: solid 1px #49423d;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  margin: auto;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 6fr 2fr 2fr;
}


/* Smartphones (вертикальная и горизонтальная) ----------- */

@media only screen and (min-width: 350px) and (max-width: 641px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .header {
    height: 7em;
    padding: 0em 0%;
  }
  .head_img {
    background: url(https://munister-v.github.io/img/Header.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    height: 120px;
  }
  .aside {
    display: none;
  }
  .art-BlockContent-body {
    margin-right: auto;
    justify-self: center;
    margin-left: auto;
    top: 0;
  }
}

/* ================== */

.block {
  display: flex;
  flex-direction: column;
}

.block .m {
  flex: 1;
}
